In [251]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.metrics import f1_score,accuracy_score,recall_score,precision_score
from sklearn.model_selection import train_test_split

In [252]:
df=pd.read_csv("train.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [253]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [254]:
df=df.drop(['Cabin','Name'],axis=1)
df['Age']=df['Age'].fillna(df['Age'].mean())

In [255]:
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])

In [256]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [257]:
df["Sex"].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [258]:
label_encoder = LabelEncoder()

In [259]:
# df['Sex']=label_encoder.fit_transform(df["Sex"])
df.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)

C:\Users\pc\AppData\Local\Temp\ipykernel_14656\3102552582.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)

In [260]:
df.describe()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,0.352413,29.699118,0.523008,0.381594,32.204208,0.361392
std,257.353842,0.486592,0.836071,0.477990,13.002015,1.102743,0.806057,49.693429,0.635673
min,1.000000,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,0.000000,22.000000,0.000000,0.000000,7.910400,0.000000
50%,446.000000,0.000000,3.000000,0.000000,29.699118,0.000000,0.000000,14.454200,0.000000
75%,668.500000,1.000000,3.000000,1.000000,35.000000,1.000000,0.000000,31.000000,1.000000
max,891.000000,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,2.000000

In [261]:
x_train=df.drop(["Ticket","Survived",'PassengerId'],axis=1).values
y_train=df["Survived"].values

In [262]:
x_norm=StandardScaler().fit_transform(x_train)
x_norm,x_test,y_train,y_test=train_test_split(x_norm,y_train,test_size=0.2,random_state=40)

In [263]:
print("CVM")
cvm_model=SVC().fit(x_norm,y_train)
y_pred=cvm_model.predict(x_test)
# for i in range(30):
#     print(f"y_pred:,{y_pred[i]}=> target:{y_test[i]}")
accuracy=accuracy_score(y_test,y_pred)
precision=precision_score(y_test,y_pred)
recall=recall_score(y_test,y_pred)
f1=f1_score(y_test,y_pred)
print(f"accuracy:{accuracy*100}")
print(f"precision:{precision}")
print(f"recall:{recall}")
print(f"f1:{f1}")
# logistic regression
print("logistic regression")
model=LogisticRegression()
model.fit(x_norm,y_train)
y_pred=model.predict(x_test)
# for i in range(30):
#     print(f"y_pred:,{y_pred[i]}=> target:{y_test[i]}")
accuracy=accuracy_score(y_test,y_pred)
precision=precision_score(y_test,y_pred)
recall=recall_score(y_test,y_pred)
f1=f1_score(y_test,y_pred)
print(f"accuracy:{accuracy*100}")
print(f"precision:{precision}")
print(f"recall:{recall}")
print(f"f1:{f1}")

CVM
accuracy:85.47486033519553
precision:0.9310344827586207
recall:0.7105263157894737
f1:0.8059701492537313
logistic regression
accuracy:81.56424581005587
precision:0.7866666666666666
recall:0.7763157894736842
f1:0.7814569536423841

In [264]:
# CVM
# accuracy:69.83240223463687
# precision:0.8055555555555556
# recall:0.3815789473684211
# f1:0.5178571428571429
# logistic regression
# accuracy:81.56424581005587
# precision:0.7866666666666666
# recall:0.7763157894736842
# f1:0.7814569536423841